{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>TakeYouHome</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" class="css">
  </head>
  <body  class="bodystyles">
    
    <header style="background-color: blue;">
        <div class='heading'>
             <h1 style="color: aliceblue;">PORTAL FOR STUCKED PEOPLE DURING LOCKDOWN</h1>
        </div>
        <ul class="nav justify-content-end" style="background-color: skyblue; margin-top: 0px;">
          <li class="nav-item">
            <a class="nav-link active" href="{% url 'home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'districts' %}">Districts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'helpdata' %}">Help</a>
          </li>
           <li class="nav-item">
            <a class="nav-link" href="{% url 'contact' %}">Contact</a>
          </li>
          
        </ul>
    </header>
        
    
    {% block content %}
    
    {% endblock content %}
    
<!--    <a href="#" class="desc">Team Description</a>-->
    <div class="footer" >
      <p style="color: white;">Developed by team <a href="#"><span style="color: burlywood;">CyberTechElite</span></a>  &copy; 2020 </p>
    </div>
    
    
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>
</html>