{% extends 'base.html' %}
{% block content %}
<h2 class="glow">Select your district(Madhya Pradesh)</h2>
<table width="100%" height="550px" class="tab">
        <tr>
            <td class="td3">
                <p class="p">
                    <b><a href="{% url 'agarmalwa' %}" target="_blank">Agar Malwa</a></b></p>
                <p class="p">
                    <b><a href="{% url 'alirajpur' %}" target="_blank">Alirajpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'anuppur' %}" target="_blank">Anuppur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'ashoknagar' %}" target="_blank">Ashoknagar</a></b></p>
                <p class="p">
                    <b><a href="{% url 'balaghat' %}" target="_blank">Balaghat</a></b></p>
                <p class="p">
                    <b><a href="{% url 'barwani' %}" target="_blank">Barwani</a></b></p>
                <p class="p">
                    <b><a href="{% url 'betul' %}" target="_blank">Betul</a></b></p>
                <p class="p">
                    <b><a href="{% url 'bhind' %}" target="_blank">Bhind</a></b></p>
                <p class="p">
                    <b><a href="{% url 'bhopal' %}" target="_blank">Bhopal</a></b></p>
                <p class="p">
                    <b><a href="{% url 'burhanpur' %}" target="_blank">Burhanpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'chhatarpur' %}" target="_blank">Chhatarpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'chhindwara' %}" target="_blank">Chhindwara</a></b></p>
            </td>
            <td class="td3">
                <p>
                    <b><a href="{% url 'damoh' %}" target="_blank">Damoh</a></b></p>
                <p>
                    <b><a href="{% url 'datia' %}" target="_blank">Datia</a></b></p>
                <p>
                    <b><a href="{% url 'dewas' %}" target="_blank">Dewas</a></b></p>
                <p class="p">
                    <b><a href="{% url 'dhar' %}" target="_blank">Dhar</a></b></p>
                <p class="p">
                    <b><a href="{% url 'dindori' %}" target="_blank">Dhindori</a></b></p>
                <p class="p">
                    <b><a href="{% url 'guna' %}" target="_blank">Guna</a></b></p>
                <p class="p">
                    <b><a href="{% url 'gwalior' %}" target="_blank">Gwalior</a></b></p>
                <p class="p">
                    <b><a href="{% url 'harda' %}" target="_blank">Harda</a></b></p>
                <p class="p">
                    <b><a href="{% url 'hoshangabad' %}" target="_blank">Hoshangabad</a></b></p>
                <p class="p">
                    <b><a href="{% url 'indore' %}" target="_blank">Indore</a></b></p>
            </td>
            <td class="td3">
                <p class="p">
                    <b><a href="{% url 'jabalpur' %}" target="_blank">Jabalpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'jhabua' %}" target="_blank">Jabua</a></b></p>
                <p class="p">
                    <b><a href="{% url 'katni' %}" target="_blank">Katni</a></b></p>
                <p class="p">
                    <b><a href="{% url 'khandwa' %}" target="_blank">Khandwa</a></b></p>
                <p class="p">
                    <b><a href="{% url 'khargone' %}" target="_blank">Khargone</a></b></p>
                <p class="p">
                    <b><a href="{% url 'mandla' %}" target="_blank">Mandla</a></b></p>
                <p class="p">
                    <b><a href="{% url 'mandsaur' %}" target="_blank">Mandsaur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'morena' %}" target="_blank">Morena</a></b></p>
                <p class="p">
                    <b><a href="{% url 'narsinghpur' %}" target="_blank">Narsinghpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'neemuch' %}" target="_blank">Neemuch</a></b></p>
                <p class="p">
                    <b><a href="{% url 'nirwari' %}" target="_blank">Nirwari</a></b></p>
                <p class="p">
                    <b><a href="{% url 'panna' %}" target="_blank">Panna</a></b></p>
                <p class="p">
                    <b><a href="{% url 'raisen' %}" target="_blank">Raisen</a></b></p>
                <p class="p">
                    <b><a href="{% url 'rajgarh' %}" target="_blank">Rajgarh</a></b></p>
                <p class="p">
                    <b><a href="{% url 'ratlam' %}" target="_blank">Ratlam</a></b></p>
                <p class="p">
                    <b><a href="{% url 'rewa' %}" target="_blank">Rewa</a></b></p>
            </td>
            <td class="td3">
                <p class="p">
                    <b><a href="{% url 'sagar' %}" target="_blank">Sagar</a></b></p>
                <p class="p">
                    <b><a href="{% url 'satna' %}" target="_blank">Satna</a></b></p>
                <p class="p">
                    <b><a href="{% url 'sehore' %}" target="_blank">Sehore</a></b></p>
                <p class="p">
                    <b><a href="{% url 'seoni' %}" target="_blank">Seoni</a></b></p>
                <p class="p">
                    <b><a href="{% url 'shahdol' %}" target="_blank">Shahdol</a></b></p>
                <p class="p">
                    <b><a href="{% url 'shajapur' %}" target="_blank">Shajapur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'sheopur' %}" target="_blank">Sheopur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'shivpuri' %}" target="_blank">Shivpur</a></b></p>
                <p class="p">
                    <b><a href="{% url 'sidhi' %}" target="_blank">Sidhi</a></b></p>
                <p class="p">
                    <b><a href="{% url 'singrauli' %}" target="_blank">Singrauli</a></b></p>
                <p class="p">
                    <b><a href="{% url 'tikamgarh' %}" target="_blank">Tikamgarh</a></b></p>
                <p class="p">
                    <b><a href="{% url 'ujjain' %}" target="_blank">Ujjain</a></b></p>
                <p class="p">
                    <b><a href="{% url 'umaria' %}" target="_blank">Umaria</a></b></p>
                <p class="p">
                    <b><a href="{% url 'vidisha' %}" target="_blank">Vidisha</a></b></p>
            </td>
        </tr>
    </table>


{% endblock content %}