{% extends 'base.html' %}
{% block content %}

<section>
        
        <h3  class="glow">Vision</h3>
        <div>
          <p>
               <b class="b">COVID-19</b> a massive <b class="b">Pandemic</b> that has swept across
                Humanity. Our country is facing a national lockdown from 40+ days and has chances
                to continue even longer. We all are facing this, but facing together in our homes
                with our families.<b>But what about those who are Stuck in a city far from their home
                    town?</b> Our Citizens are entrapped with minimal essentials and lacking necessities,
                also Health amenities. Such exposure to major risks might worth their lives. We
                here have taken the initiative to help our government, because each support will
                save our nation. The idea focuses upon the people Stuck in difficult circumstances
                in any State or District and are unable to reach their home towns. Our designed
                website will provide the data of citizens in need along with all their details so
                as to make it easier to locate for the State Government & further to take action
                upon. This will reduce people migrating to their villages covering distance on foot
                that increases the risk of Covid-19. A conveyance to send them home would be more
                safe and reliable, also they'll be relieved. The data of people will be highly authentic
                to avoid any redundancies. The authorities of Gram panchayat, collectorate will
                be needed to serve for the well being in this threat. We consider it our duty and
                will work towards it with the Support of government together. 
                <span style="color: orange;">For the People</span>, <span style="color: darkseagreen;">By
                the People</span>, <span style="color: green;">Of the People.</span> 
          </p>
        </div>
        
        <br><br>
        
        <div style="padding-bottom: 40px;">
           <h3 class="glow">Follow the link: </h3>
           <a class='desc' href="{% url 'details' %}" ><strong>Upload your information here</strong></a>   
        </div>
        
        
        
</section>
{% endblock content %}